.menu-container {
  position: absolute;
  top: 8px;
  right: 8px;
}

.menu-item-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}
